* {
 
    box-sizing: border-box;
 
}
 
 
body {
 
    margin: 0;
 
    font-family:
        Arial,
        Helvetica,
        sans-serif;
 
    background:
        #f1f5f9;
 
    color:
        #1e293b;
 
}
 
 
.contenedor {
 
    width: 90%;
 
    max-width: 1000px;
 
    margin:
        50px auto;
 
    text-align:
        center;
 
}
 
 
h1 {
 
    font-size:
        34px;
 
    margin-bottom:
        10px;
 
}
 
 
.descripcion {
 
    color:
        #64748b;
 
    margin-bottom:
        30px;
 
}
 
 
button {
 
    padding:
        13px 25px;
 
    border:
        none;
 
    border-radius:
        6px;
 
    background:
        #2563eb;
 
    color:
        white;
 
    font-size:
        16px;
 
    cursor:
        pointer;
 
}
 
 
button:hover {
 
    opacity:
        0.85;
 
}
 
 
.tarjetas {
 
    display:
        flex;
 
    justify-content:
        center;
 
    gap:
        25px;
 
    margin-top:
        40px;
 
    flex-wrap:
        wrap;
 
}
 
 
.tarjeta {
 
    background:
        white;
 
    width:
        280px;
 
    min-height:
        220px;
 
    padding:
        25px;
 
    border-radius:
        10px;
 
    box-shadow:
        0 3px 10px
        rgba(0,0,0,0.10);
 
}
 
 
.tarjeta h2 {
 
    color:
        #2563eb;
 
}
 
 
.tarjeta p {
 
    margin:
        18px 0;
 
}
 
 
.guardar {
 
    background:
        #16a34a;
 
    margin-top:
        30px;
 
}
 
 
#mensaje {
 
    margin-top:
        20px;
 
    font-weight:
        bold;
 
}
 
 
#fecha {
 
    margin-top:
        25px;
 
    color:
        #64748b;
 
}